* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
 }

  .container-fluid {
      background-color: rgba(218,219,212,255);
      height: 100vh;
      position: relative;
  }

  .bg-bar {
      height: 150px;
      background-color: rgba(0,149,135,255);
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 100%;
  }

  .container {
      background-color: rgba(244,244,244);
      height: 90vh;
      padding: 0;
  }

  .row {
      width: 100%;
      height: 100%;
      margin: 0;
  }

  .sidebar {
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgba(207, 207, 207, 0.671);
  }

  .chat-container {
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
  }

  nav {
      background-color: rgba(234,234,234,255);
      height: 80px;  
  }

  .avatar-container {
      width: 80px;
      padding: 8px;
      align-items: center;
  }
  img {
      width: 100%;
      border-radius: 50%;
  }

  .icons > i {
      padding: 0 10px;
      font-size: 20px;
      color: rgba(177,177,178,255);
  }

  .notifiche {
      height: 90px;
      background-color: rgba(141,218,252,255);
  }

  span {
      font-size: 14px;
      font-weight: 600;
      color: rgb(104, 103, 103);
  }

  .bell-icon > i {
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 50%;
    padding-left: 5px;
    padding-top: 8px;
    color: rgba(141,218,252,255);
    background-color: rgba(242,250,255,255);
 }

 .form-control > input {
     width: 90%;
     border: 0;
     padding-left: 8px;
 }

 .search > i {
     color: rgba(177,177,178,255);
 }

 .contact-container {
     background-color: rgba(255,255,255,255);
     flex-grow: 1;
     overflow: auto;
     width: 95%;
 }

 .active-chat {
     width: 100%;
     border-bottom: 1px solid rgba(207, 207, 207, 0.671);
     cursor: pointer;
 }

 .active-chat.active {
     background-color: rgba(34, 155, 185, 0.288);
 }

 .main-chat-container {
    flex-grow: 1;
    width: 98%;
    overflow: auto;
    padding: 40px 60px;
    background-image: url(/img/mine.jpg);
 }

 .msgContainer {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    clear: both;
    margin-bottom: 15px;
    padding-top: 14px;
    line-height: 25px;
    padding-right: 30px;
    cursor: pointer;
 }
 
 .msgGreen {
    background-color: rgba(213,249,186,255);
    float: right;
 }
    
 .msgWhite {
    background-color: rgba(255,255,255,255);
    float: left;
 }
    
 .input-msg {
    width: 100%;
    height: 56px;
    padding: 10px 0px;
    background-color: rgba(234,234,234,255)
 }

 .msg-date > span {
    align-self: flex-end;
    font-size: 12px;
    color: rgba(170, 170, 170, 0.856);
 }

 /* Dropdown */
 .dropdown {
     position: absolute;
     right: 10px;
     cursor: pointer;
 }

 .dropdown > i {
     opacity: .3;
 }

 .msgContainer:hover .dropdown > i {
     opacity: 1;
 }

 .dropdown-menu {
     min-width: 4rem;
     padding: 5px 10px;
     display: none;
 }

 .dropdown-menu.active {
    display: block;
}

.dropdown-menu li:hover {
    background-color: #d6d6d6;
}